:root{
    background: #0e0a21;
}
:root::before{
    content: ' ';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0.3;
    background-position-y: 0px;
    // background from example
    // background-image: repeating-linear-gradient(90deg,#504a64 0%,transparent 1px, transparent 50px,#504a64 50px), repeating-linear-gradient(180deg,#504a64 0%,transparent 1px, transparent 50px, #504a64 50px);
}
.centered{
    position: absolute;
    left: 50vw;
    top: 30vh;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.rocketrinder{
    color: #a299b6;
    font-family: 'RocketRinder';
    font-size: 15vh;
    line-height: 0.8em;
    padding: 0 0.6em;
    filter:url("#backGradient") url("#bevel") url("#frontGradient") url("#outerGlow") url("#bloom");
}